body {
    max-width: 1080px;
    margin: auto;
}
table, tr, td, li, a, img {
    margin: 0;
    padding: 0;
}
.outer-canvas {
    width: 1024px;
    height: 100px;
    background-color: lightcoral;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.outer-canvas:hover {
    background-color: brown;
}
.inner-canvas {
    width: 30%;
}
#ex6 {
    padding-top: 2.25em;
}
table {
    width: 100%;
}
img {
    height: 30px;
    width: auto;
}